{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}
<div>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div><a href="{{path('app-micro-post-show', {post: post.id})}}">{{ post.title }}</a></div>
            {#post: is used to pass post.id to the Route (parameterName: parameterValue).
            In fact there is {post} in the link of the Route and we need to write post: here if we want to pass post.id to it#}
        {% endfor %}
    {% else %}
        There is nothing here!
    {% endif %}
</div>
{% endblock %}
